<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FileBrowser On Browser</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='adamina_font')}}" rel="stylesheet"> 
    <link href="{{url_for('static', filename='bootstrap.css')}}" rel="stylesheet"> 
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <style>
      html *{
        font-family: 'Adamina', serif;
      }
			#directories ul{
			list-style: none;
			}
			#directories li{
			display: inline;
			}
      #directories button{
        display: inline;
        padding-right: 10px;
        
      }
				
      #files a{
        display: inline;
        padding-right: 10px;
      }

      #fileList p{
        display: inline;
        padding-right: 10px;
      }

		</style>
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    {{- JSGlue.include() }}
  </head>
  <body>
    {%- include 'includes/_navbar.html' %}
    {%- block body %}{% endblock %}
    {%- include 'includes/_footer.html' %}